extends layout

block content
  .container
    header.row
      .any.items.u-text-center
        h1 noteJS
    main.row.u-flex
      .six.tower
        .items.u-text-center
          h2 Write Note
        .items.u-flex
          textarea#write
      .six.tower
        .items.u-text-center
          h2 Preview Note
        .items.u-flex
          #read
    footer.row
      .any.items.u-text-center
        p Copyright 2016 Mohammad Samiul Islam

block javascript
  script.
    $( document ).ready(function() {
      $('#read').height($('#write').height());
      $('#write').on('keyup', function(){
        $('#read').html( marked( $(this).val() ) );
      });
    });
