extends layout

block content
  .box
    .any.items.u-text-center
      h1 noteJS
  .box.u-fill-view.u-flex-top
    .any.items.u-text-center
      .container
        .box
          .any.items
            h2 Write Note
        .box.u-fill-view
          .any.items
            textarea.noresize
    .any.items.u-text-center
      h2 Preview Note
